title{
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

body {
    background: #ADD8E6;
    font-size: 12pt;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}
