body {
    background: #ADD8E6;
    font-size: 12pt;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

img {
  height: 250px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

h1 {
  border-bottom: 3px solid #000;
  padding: 20px;
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

#extraPageLength {
  height: 300px;
}
